@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --base:#EDF2F4;
    --texto:#1F1F1F;
    --principal:#0066FF;
    --secundario:#0052CC;
    --terceiro:#0A2450;
    --borda:rgba(0, 0, 0, 0.048);

    --fonte-texto:'Lexend Deca';
    --fonte-titulo:'Montserrat';
}
.darkmode{
    --base:#1F1F1F;
    --texto:#EDF2F4;
    --principal:#0066FF;
    --secundario:##8abaff;
    --terceiro:#0A2450;
    --borda:rgba(255, 255, 255, 0.073);
}

body{
    background-color: var(--base);
}

header{
    z-index: 100;
    top: 0;
    position: sticky;
    display: flex;
    padding: 20px;
    justify-content: space-around;
    font-family: var(--fonte-texto);
    align-items: center;
    border-bottom: 1px solid var(--borda);
    background-color: var(--base);
    box-shadow: rgba(221, 221, 221, 0.2) 0px 8px 24px;
    background-color: var(--base)
}
.logo{
    display: flex;
    align-items: center;
}
.logo p {
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--texto);
}
.nav-links{
    display: flex;
    list-style: none;
}
.nav-links li{
    margin: 0px 15px;
    font-family: var(--fonte-texto);
}
.nav-links li>a{
    color: var(--texto);
    text-decoration: none;
    font-weight: 600;
}
.nav-links li a:hover{
    color: var(--principal);
    transition: 0.3s;
}

#theme-switch{
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 50%;
    border: none;
    background-color:transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* #theme-switch svg{
    fill: var(--texto);
}
#theme-switch svg:last-child{
    display: none;
}
.darkmode #theme-switch svg:first-child{
    display: none;
}
.darkmode #theme-switch svg:last-child{
    display: block;
} */
.nav-btn{
    display: flex;
}
.nav-btn button{
    margin: 0 10px;
    padding: 10px 20px;
    border-radius: 4px;
    border: none;
    font-family: var(--fonte-texto);
    background-color: var(--principal);
}
.nav-btn button>a{
    color: #EDF2F4;
    text-decoration: none;
    font-weight: 500;
}

/* Main txt */
.main-text-container {
    height: 80vh; /* Altura mínima da viewport */
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-text{
    padding: 90px 150px;
}
.main-text h1{
    font-family: var(--fonte-titulo);
    font-size: 3rem;
    color: var(--texto);
}
#title{
    color: var(--principal);
}
.main-text p{
    font-family: var(--fonte-texto);
    font-size: 24px;
    color: var(--texto);
}
.main-image>img{
    margin-right: 150px;
    height: 500px;
    width: 500px;
}

/* Oque fazemos */
.mission-container{
    background-color: var(--secundario);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 120px;
}
.mission-container h2{
    font-size: 3rem;
    font-family: var(--fonte-titulo);
    color: var(--base);
}
.mission-container p{
    padding-right: 100px;
    font-size: 18px;
    font-family: var(--fonte-texto);
    color: var(--base);
}
.mission-text{
    padding:0  60px;
}
.mission-img> img{
    height: 400px;
    width: 400px;
    border-radius: 50%;
}

/* Topicos */
.topics{
    display: flex;
    justify-content: space-around;
    margin: 50px;
    text-align: center;
    margin-top: 120px;
    margin-bottom: 120px;
}
.topics-card{
    border: 1px solid rgba(9, 9, 9, 0.095);
    padding: 40px;
    border-radius: 20px;
}
.topics-card h2{
    font-family: var(--fonte-titulo);
    color: var(--texto);
}
.topics-card p{
    margin-top: 5px;
    font-family: var(--fonte-texto);
    color: var(--texto);
}
.topics-card i{
    font-size: 25px;
    color: var(--principal);
    margin-bottom: 20px;
}
.topics-card:hover{
    -webkit-animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes shadow-drop-2-center {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: translateZ(50px);
            transform: translateZ(50px);
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.132);
            box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.132);
  }
}
@keyframes shadow-drop-2-center {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: translateZ(50px);
            transform: translateZ(50px);
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.095);
            box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.095);
  }
}

/* Be worker */
.be-worker-container{
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 150px 0 150px 0;
}
.be-worker-container h2 {
    color: var(--texto);
    font-family: var(--fonte-titulo);
    font-size: 3rem;
}
.be-worker-container p{
    margin-top: 8px;
    color: var(--texto);
    font-family: var(--fonte-texto);
    font-size: 18px;
}
.be-worker-container button{
    margin-top: 30px;
    background-color: var(--principal);
    padding: 20px 40px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
.be-worker-container button>a{
    color: var(--base);
    text-decoration: none;
    font-family: var(--fonte-texto);
    font-weight: 600;
}
.be-worker-container button:hover{
  -webkit-animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes shadow-drop-center {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
            box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}
@keyframes shadow-drop-center {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
            box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}

/* Parte final */
.meet-workit{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}
.meet-text{
    padding: 0 100px;
}
.meet-text h2{
    font-family: var(--fonte-titulo);
    color: var(--texto);
    font-size: 3rem;

}
.meet-text ul{
    margin-top: 20px;
    display: flex;
    list-style: none;
    align-items: center;
}
.meet-text i{
    color: #0052CC;
    font-size: 3rem;
    margin-right: 20px;
}

.meet-text p{
    font-family: var(--fonte-texto);
    color: var(--texto);
    font-size: 18px;
}
.meet-img img{
    height: 500px;
    width: 500px;
    padding: 20px;
}

footer{
    display: flex;
    justify-content: center;
    padding: 50px;
    font-family: var(--fonte-texto);
    color: var(--texto);
    border-top: 1px solid rgba(0, 0, 0, 0.076);
}